main {
    width: 85%;
    justify-self: center;
}
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 2fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

/* This will create 2x images every 4 elements */
.gallery-container > :nth-child(3n) {
  grid-column: span 2; /* Spans two columns */
  grid-row: span 2; /* Spans two rows */
}

/* This will create 3x images every 8 elements */
.gallery-container > :nth-child(7n) {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery-container > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
}