form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100rem;
    justify-items: space-around;
    align-items: space-around;
    justify-self: center;
    margin: 0 auto;
}

.form-item {
    font-size: 1.8rem;
    text-align: left;
}

.form-item_title {
    margin: 1.2rem;

    font-size: 2.4rem;
    font-weight: 300;
    text-align: center;
}

.form-container {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
    gap: 1rem;

}

.form-item_input {
    margin-bottom: 3.6rem;
}

.form-item_submit {
    text-align: center;
}

.submit-success {
    color: greenyellow;
}

.submit-error {
    color: red;
}