form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100rem;
    justify-items: space-around;
    
}

form-item

.submit-success {
    color: greenyellow;
}

.submit-error {
    color: red;
}