form {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-items: space-around;
    align-items: space-around;
    justify-self: center;
    margin: 0 auto;
}

.form-item {
    font-size: 1.8rem;
    text-align: left;
}

.form-item_title {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 6rem 0;

}

.form-container {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: end;
    gap: 1rem;

}

.form-item_input {
    margin-bottom: 3.6rem;
}

.form-item_submit {
    text-align: center;
}

.submit-success {
    color: greenyellow;
}

.submit-error {
    color: red;
}