/* 
btw: Using the 'custom' descriptor on some classes to help 
override bootstrap CSS rules with the same name 
*/ 
.nav_custom {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    letter-spacing: 1px;
}

#nav-logo {
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-tabs_custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Applies a right border to every child except the very last one */
.nav-tabs_custom > *:not(:last-child) {
  border-right: 1px solid black;
}

.nav-item_custom {
    font-size: 1.2rem;
    padding: 0 2rem;
}

.nav-icons_custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-icons {
    max-width: 50%;
    height: auto;
}

.nav-link {

}

.nav-link active {
    color: slateblue !important;
}