.nav_custom {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    letter-spacing: 1px;
}

#nav-logo {
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.nav-tabs_custom {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.nav-item_custom {
    font-size: 1.2rem;
}

.nav-link {

}

.nav-link active {

}